body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
	}
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:20px;
	line-height:20px;
	font-weight:900;
	color:#ccc;
	}
h2 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:16px;
	line-height:16px;
	font-weight:800;
	color:#ccc;
	}
h3 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:12px;
	line-height:12px;
	font-weight:800;
	color:#ccc;
	}
ul {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	}

/*
Indent second paragraph but not first one:

#Content>p {margin:0px;}
#Content>p+p {text-indent:30px;}
*/

a {
	color:#09c;
	font-size:12px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}

a.new {
	color:#A43834;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;	
}

a.outside {
	color:#4A8343;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;	
}

p {
	font-size:12px;
	}

table {
    border-width: 1px;
    border-spacing: 0px;
	border-style: solid;
	border-collapse: collapse;
	font-size:12px;
	text-align: center;
	}


td {
    border-width: 1px;
	border-style: inset;
	padding: 3px;
}

th {
    border-width: 1px;
	border-style: inset;
padding: 3px;
}

table.entry {
	border-style: none;
}

td.entry {
    padding: 5px;
    vertical-align: top;
    text-align: left;
    border-style: none;
}

table.download {
    border-width: 0px;
    border-spacing: 0px;
	border-style: none;
	border-collapse: collapse;
	font-size:12px;
	text-align: left;
	}

td.download {
    border-width: 0px;
	border-style: inset;
	padding: 3px;
}


#header {
}


#header a {
	color: black !important;
	text-decoration:none !important;
	font-size:20px;
	font-family:verdana, arial, helvetica, sans-serif;
}


#title {
        text-align: center;
	margin:24px 0px 10px 0px;
	padding:17px 0px 0px 20px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:33px; /* 14px + 17px + 2px = 33px */
	border-style:solid;
	border-color:black;
	border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	line-height:0px; 
	background-color:#eee;

/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */
	voice-family: "\"}\"";
	voice-family:inherit;
	font-style: italic;
	height:14px; /* the correct height */
	}

#title a {
	color: black !important;
	text-decoration:none !important;
	font-size:20px;
	font-family:verdana, arial, helvetica, sans-serif;
}


/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#Header {height:14px;}

/*
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}
*/


#sidebar {
 display: inline;
 width: 150px;
 float: left;
 margin:10px 10px 10px 10px;
}


#entry {
    margin-left: 200px;
    
}

#Change {
	float: left;
	background-color:#eee;
	border:1px dashed #999;
	clear: left;
	width:150px; 
	line-height:17px; 
	padding:10px; 
	margin:10px 0px 0px 0px;
	}

div.MenuWidget {
	float: left;
	background-color:#eee;
	border:1px dashed #999;
	clear: left;
	width:150px; 
	line-height:17px; 
	padding:10px; 
	margin:10px 0px 0px 0px;
	}

#Menu {
	float: left;
	background-color:#eee;
	border:1px dashed #999;
	clear: left;
	width:150px; 
	margin:10px 0px 0px 0px;
	line-height:17px; 
	padding:10px;
	}


tr.diffConflict { background-color:#ff6c6c; }
tr.diffNoConflict { background-color:#a0ff6d; }


div.entry .title {
	background-color: #eee;
	border-bottom: 1px solid rgb(128, 128, 128);
	font-weight: bold;
	font-size: 120%;
	padding: 0.26ex 10px;

}
div.entry div.date {
        text-align: right;
}
div.entry div.title a {
	color: black !important;
	text-decoration: none !important;
}
div.entry div.title a:hover {
	color: black !important;
	text-decoration: none !important;
}

div.entry div.tags {
	border-top: 1px solid rgb(128, 128, 128);
	font-style: italic;
	font-family: Verdana, Georgia, Arial, sans-serif;
	font-size: 90%;
	text-align: right;
}
div.entry div.tags span.comments {
        padding-left: 5px;
        float: left;
}

pre {
	overflow:	auto;
	background:	rgb(230,230,230);
	border:		solid;
	border-width:	thin;
	padding: 5px  10px;
}


/* token highlighting for C/C++ (see cpptok.cc )
 */
.err { color:#0000FF; 
	  font-weight: bold;
}
.booleanLiteral { color: #101010; font-weight: bold; }
.characterLiteral { color: #101010; font-weight: italic; }
/*.floatingLiteral { } */
/*.decimalLiteral { } */
.octalLiteral { color:#000099; }
/*.hexadecimalLiteral { } */
.identifier { color: #101010; }
.keyword { color: #101010; font-weight: bold; }
.operator { color: #101010; }
.punctuator { color: #101010; }
.comment { color:#990000; }
/*.space { } */
/*.tab { } */
.preprocessing { color:#227711; }
.stringLiteral { color: #101010; font-weight: italic; }
