<div id="document">
  <table>
    <tr>
      <td id="sidebar">
        <div class="topMenu"><!-- Expand --></div>

        <div class="MenuWidget">
          <h1>By Date</h1>
          <p>
          <div class="dates"><!-- Expand --></div>
          </p>
        </div>

        <div class="MenuWidget">
          <h1>By Tags</h1>
          <p>
            <div class="bytags"><!-- Expand --></div>
          </p>
        </div>
      </td>

      <td id="entry">
        <div id="title">
          <h1><div class="title"><!-- Expand --></div></h1>
        </div>
        <div class="content">
          <!-- Expand -->
        </div>
      </td>
    </tr>
  </table>
</div>
