<div>
  <!-- live news feed -->
  <h2 class="whatTitle"><a href="/index.rss"><img src="/static/img/feed-icon-14x14.png" alt="RSS feed" title="RSS feed"/></a>&nbsp;What's new?</h2>
  <div class="feed">
    <!-- Expand -->
  </div>
</div>
