<div id="document">
  <table>
    <tr>
      <td id="sidebar">
        <div class="topMenu"><!-- Expand --></div>
        <div class="projfiles"><!-- Expand --></div>
      </td>
      <td id="entry">
        <div id="title">
          <h1><div class="title"><!-- Expand --></div>
            <a href="index.rss">
              <img class="imgrss"
                   src="/static/img/feed-icon-14x14.png" alt="RSS feed" />
            </a>
          </h1>
        </div>

        <div class="content"><!-- Expand --></div>

        <h1>History</h1>
        <table width="100%">
          <div class="history"><!-- Expand --></div>
        </table>

        <h1>Quality Results</h1>
        <p>The following sections present the up-to-date results for <a href="/reps/whitepapers/doc/quality.book">runtime tests and static code analyses</a>.</p>
        <h2>Regressions for runtime tests</h2>
        <p>Regression views tie a change in behavior to a specific source revision and or system. Regression views will thus be most useful to contributors investigating why a previously passing test started to fail.</p>
        <div class="regressions"><!-- Expand --></div>

        <h2>Checkstyle reports</h2>
        <p>Checkstyle reports contain the result of static code analyses such as code conventions, compilation warnings, etc.</p>

        <div class="checkstyle"><!-- Expand --></div>
      </td>
    </tr>
  </table>
</div>
