<?xml version="1.0" encoding="utf-8"?>
<rss version='2.0'>
<channel>
	<title><!-- widget 'title' --></title>
	<link>http://<!-- widget 'print' name='domainName' --></link>
	<description><!-- widget 'title' --></description>
        <language>en-us</language>
	<!--
	<pubDate></pubDate>
	<lastBuildDate></lastBuildDate>
	-->
	<!-- widget 'document' -->
</channel>
</rss>
