<?xml version="1.0" encoding="utf-8"?>
<rss version='2.0'>
<channel>
	<title><div class="title"><!-- Expand --></div></title>
	<link>http://<!-- widget 'print' name='domainName' --></link>
	<description><div class="title"><!-- Expand --></div></description>
        <language>en-us</language>
	<!--
	<pubDate></pubDate>
	<lastBuildDate></lastBuildDate>
	-->
	<div class="document"><!-- Expand --></div>
</channel>
</rss>
