/* Definition of styles associated with the default theme

 */

/* Styles that applies accross all templates. */
/* 1. Major structural definitions */
html, body {
    border: none;
    margin: 0px;
    padding: 0px;    
    text-align: center;
    height:100%;
}

#document {
    float: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 40px;
    border-style: none;
    width: 100%; 
}

#document > table {
    border: none;
}

#entry {
    padding: 0px 0px 0px 25px;
    vertical-align: top;
    text-align: left;
    border-style: none;
}

#sidebar {    
    width: 150px;
    background: #eaf0f5;
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-right-style: solid;
    border-right-color: #0;
    border-right-width: 1px;
    
    vertical-align: top;
    text-align: left;    
}

#title {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

#wrap {
    min-height: 100%;
}


/* 2. Styles for forms used to enter comments, todos and other posts. */
.post {
    margin: 25px 0px 25px 0px;
    border:1px solid #ccc;
    background:#fff; 
    text-align: left;
}

.post fieldset {
    padding: 10px 5px 10px 5px;
    border: none;
    background:#eee;
    width:auto
}

.post fieldset > div > label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 0 0 0;
    font-weight: bold; 
}

.post fieldset table {
    border: none;
}

.post fieldset table td {
    width: auto;
    border: none;
    text-align: right;
}

.post fieldset div {
    display: block;
    margin: 10px 0px 10px 0px;
    border: none;
}

.post input {
    text-align: left;
    width: 100%;
}

.post textarea {
    width: 100%;
}

.post label {
    font-weight: bold;
}

.post .button {
    width: auto;
}

.post #title {
    margin: 0px;
    text-align: left;
    width: 100%;
}

.post .submit {
    float: none;
    margin: auto;
    padding: auto;
    width: auto;
    text-align: right;
}

/* 3. Styles used for generic elements in the document body. */
table {
    border-width: thin;
    border-spacing: 0px;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
}

td {
    border-width: thin;
    border-style: solid;
    padding: 3px;
}

th {
    border-width: thin;
    border-style: solid;
    padding: 3px;
}

.imgrss {                    /* All RSS icons. */
    float:right;
    border: none;
    display: inline;
}


/* Styles specific to the header (header.template) */
#header {
    float: top;
    background: #E00000;           /* light background */
    border-bottom-color: #580000;  /* dark background */
    border-left-style: solid;
    border-left-color: #ffffff;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 20px;    
    height: 160px;
}

#headerMenu {
    text-align: center;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;    
    border: none;
}

th.headerMenuItem {
    border: none;
    border-left-style: solid;
    border-left-color: #ffffff;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: #ffffff;
    border-right-width: 1px;
}

#headerTitle {
    text-align: center;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
}

/* Styles specific to the footer (footer.template) */
#footer {
    text-align: center;
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear:both;
    font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
    display:block;
    background: #E00000;           /* light background */
    border-top-color: #580000;     /* dark background */
    font-size:x-small;
    border-left-style: solid;
    border-left-color: #ffffff;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 10px;    
} 

/* Styles specific to the topMenu (topMenu.template) */
div.MenuWidget {
    padding: 10px 5px 10px 5px; 
    margin: 10px 10px 0px 10px;
}

div.MenuWidget > h1 {
    font-size: 150%;
    font-weight: bold;
    color: black;
}

/* Styles specific for highlighting C/C++ source code */
.booleanLiteral { color: #101010; font-weight: bold; }
.characterLiteral { color: #101010; font-style: italic; }
.comment { color:#990000; }
/*.decimalLiteral { } */
.err { color:#FF0000; font-weight: bold; }
/*.floatingLiteral { } */
/*.hexadecimalLiteral { } */
.identifier { color: #101010; }
.keyword { color: #101010; font-weight: bold; }
.octalLiteral { color:#000099; }
.operator { color: #101010; }
.preprocessing { color:#227711; }
.punctuator { color: #101010; }
/*.space { } */
.stringLiteral { color: #101010; font-style: italic; }
/*.tab { } */
.unstyledIdentifier { color: #FF0000; font-weight: bold; }
