/* style for general tags */
body {
    margin:0px;
    padding:0px;
    font-family:verdana, arial, helvetica, sans-serif;
    color:#333;
    background-color:white;
}

h1 {
    margin:0px 0px 15px 0px;
    padding:0px;
    font-size:20px;
    line-height:20px;
    font-weight:900;
    color:#ccc;
}

h2 {
    margin:0px 0px 15px 0px;
    padding:0px;
    font-size:16px;
    line-height:16px;
    font-weight:800;
    color:#ccc;
}

h3 {
    margin:0px 0px 15px 0px;
    padding:0px;
    font-size:12px;
    line-height:12px;
    font-weight:800;
    color:#ccc;
}

ul {
    font:11px/20px verdana, arial, helvetica, sans-serif;
}

a {
    color:#09c;
 /*   font-size:12px;*/
    text-decoration:none;
    font-weight:600;
    font-family:verdana, arial, helvetica, sans-serif;
}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}

a.new {
    color:#A43834;
    text-decoration:none;
  /*  font-weight:600;*/
    font-family:verdana, arial, helvetica, sans-serif;	
}

a.outside {
    color:#4A8343;
    text-decoration:none;
/*    font-weight:600;*/
    font-family:verdana, arial, helvetica, sans-serif;	
}

p {
    font-size:12px;
}

pre {
    text-align:   left;
    overflow:	  auto;
    background:	  rgb(230,230,230);
    border:	  solid;
    border-width: thin;
    padding:      5px 10px;
}

table {
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-collapse: collapse;
    font-size:12px;
    text-align: center;
}

td {
    border-width: 1px;
    border-style: solid;
    padding: 3px;
}

th {
    border-width: 1px;
    border-style: solid;
    padding: 3px;
}

/* style for tags with a specific class */
div.MenuWidget {
    float: left;
    background-color:#eee;
    border:1px dashed #999;
    clear: left;
    width:150px; 
    line-height:17px; 
    padding:10px; 
    margin:10px 0px 0px 0px;
    display: inline;
}

pre.code {
    background:	  transparent;
    border:	  none;
    padding:      0px 0px;
}

tr.diffConflict { 
    background-color:#ff6c6c; 
}

tr.diffNoConflict { 
    background-color:#a0ff6d; 
}

th.title {
    background-color: #eee;
    border-style: none;
/*    border-bottom: 1px solid rgb(128, 128, 128);*/
    font-weight: bold;
    font-size: 150%;
    padding: 0.26ex 10px;
}

th.title a {
    color: black !important;
    text-decoration: none !important;
}
th.title a:hover {
    color: black !important;
    text-decoration: none !important;
}

th.date {
    border-style: none;
    text-align: right;
}

th.tags {
    border-style: none;
    border-top: 1px solid rgb(128, 128, 128);
    font-style: italic;
    font-family: Verdana, Georgia, Arial, sans-serif;
    font-size: 90%;
    text-align: right;
    padding: 0px 0px 25px;
}


td.entry {
    padding: 5px;
    vertical-align: top;
    text-align: left;
    border-style: none;
}


table.document {
    border-style: none;
    width: 100%; 
    /*table-layout: fixed;*/

}

/* style for tags with a specific id */

#document {
    float: left;
    margin: 45px 0px 45px 0px;
/*    display: inline;*/
}

#footer {
    font-family: Verdana, Georgia, Arial, sans-serif;
    float: left;
    font-size: 60%;
     font-style: italic;
/*     padding: 100px 0px 0px 0px; */
     margin:20px 0px 0px 0px;
    display: inline;   
}

#header {
    position: absolute;
    left: 32px;
    top: 5px;
    display: inline;
}

#sidebar {
/*    float: left;
      display: inline;
*/
    width: 150px;
    margin: 36px 10px 10px 10px;
    

    padding: 0px 45px 0px 5px;
    vertical-align: top;
    text-align: left;
    border-style: none;
}

#entry {
    padding: 25px 0px 0px 0px;
    vertical-align: top;
    text-align: left;
    border-style: none;
}

#ad {
    width: 120px;
    padding: 0px 5px 0px 45px;
    vertical-align: top;
    text-align: left;
    border-style: none;
}

#title {
    text-align: center;
    border-style:solid;
    border-color:black;
    background-color:#eee;
    voice-family:inherit;
    font-style: italic;
   /* display: block; */
    /*display: inline-block;*/
    /*padding: 17px 0px 0px 20px;*/
    margin: 60px 0px 10px 0px;
    border-width:1px 0px; 
/*    line-height:0px; */
    /*height:14px;*/
}

.emphasis { font-style: italic; }

/* Build View - make exited with an error code. */
.positiveErrorCode {
    background-color: #ff6c6c;
}

/* token highlighting for C/C++ */
.booleanLiteral { color: #101010; font-weight: bold; }
.characterLiteral { color: #101010; font-style: italic; }
.comment { color:#990000; }
/*.decimalLiteral { } */
.err { color:#FF0000; font-weight: bold; }
/*.floatingLiteral { } */
/*.hexadecimalLiteral { } */
.identifier { color: #101010; }
.keyword { color: #101010; font-weight: bold; }
.octalLiteral { color:#000099; }
.operator { color: #101010; }
.preprocessing { color:#227711; }
.punctuator { color: #101010; }
/*.space { } */
.stringLiteral { color: #101010; font-style: italic; }
/*.tab { } */
.unstyledIdentifier { color: #FF0000; font-weight: bold; }

