<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title><!-- tmpl_var name='title' --></title>
<link rel="stylesheet" type="text/css" media="screen" href="/resources/style.css" />
</head>

<body>
  <div>
    <div id="title"><!-- tmpl_var name='title' --></div>
  </div>
    
  <div id="document">
    <table class="document">
      <tr>

	<td id="sidebar">
	  <!-- tmpl_include name='topMenu.template' -->
	</td>

	<td id="entry">
	  <div id="title">
	    <h1><!-- tmpl_var name='title' -->
	      <a href="index.rss">
		<img class="imgrss"
		     src="/resources/feed-icon-14x14.png" alt="RSS feed" />
	      </a>
	    </h1>
	  </div>
	  <a href="#todoCreate">Create todo</a>
	  <table width="100%">
	    <tr><th>date</th><th>author</th><th>title</th></tr>
	  <!-- tmpl_var name='document' -->
	  </table>
	  <div>
	    <a name="todoCreate"></a>
	    <form method="post" class="todo" action="/todoCreate">
	      <fieldset>                 
		<div>
		  <label>Title:</label>
		  <input id="title" name="title" />
		</div>
		<div>
		  <label>From:</label>
		  <input id="author" name="author"/>
		  <label>Cc:</label>
		  <input id="ccs" name="ccs"/>
		</div>		
		<label>Description</label><br />		
		<textarea rows="20" id="description" name="descr"></textarea>
              </fieldset>
	      <fieldset class="submit"> 
		<input type="submit" name="submit" value="create" />
              </fieldset> 	      
	    </form>
	  </div>
	</td>
      </tr>
    </table>
  </div>

</body>
</html>
