<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml
                          http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title><!-- tmpl_var name='title' --></title>
<link rel="stylesheet" type="text/css" media="screen" href="/resources/style.css" />
</head>

<body>
  <div id="wrap">
    <!-- tmpl_include name='header.template' -->

  <div id="document">
    <table>
      <tr>
	<td id="sidebar">
	  <!-- tmpl_include name='topMenu.template' -->
	</td>
	<td id="entry">	  
	  <div id="title">
	    <h1><!-- tmpl_var name='title' -->	      
	      <a href="index.rss">
		<img class="imgrss"
		     src="/resources/feed-icon-14x14.png" alt="RSS feed" />
	      </a>
	    </h1>
	  </div>
	  <p><i>If you deeply care about a todo item, you have the opportunity to make a $1 contribution to it. The complete list of todo items is ordered by contributions and, of course, work always start with the begining of the list.</i></p><div id="paybutton"><!-- tmpl_var name='aws' --></div>
	  <!-- tmpl_var name='document' -->
	  <div>
	    <form method="post" class="post" action="/todoComment">
	      <fieldset>       
		<input type="hidden" name="href" value="<!-- tmpl_var name='title' -->"/>
		<table width="100%">
		  <tr>
		    <td><label>From:</label></td>
		    <td><input id="author" name="author"/></td>
		  </tr>
		  <tr>
		    <td><label>Cc:</label></td>
		    <td><input id="ccs" name="ccs"/></td>
		  </tr>	  
		</table>
		<label>Comment</label><br />		
		<textarea rows="20" id="description" name="descr"></textarea>
              </fieldset>
	      <fieldset class="submit"> 
		<input class="button" type="submit" name="submit" value="post" />
              </fieldset> 	      
	    </form>
	  </div>
	</td>

      </tr>
    </table>
  </div>
  </div>

  <!-- tmpl_include name='footer.template' -->

</body>
</html>
