  <div class="MenuWidget">
    <h3>Links</h3>
    <p>
      <a href="/">home</a><br />
      <a href="/undercons.corp">about</a><br />
      <a href="/undercons.corp">contact</a><br />
    </p>
  </div>
  <div class="MenuWidget">
    <h3>Projects</h3>
    <p>
    </p>
  </div>
